.gray-btn {
    background: #d3d3d3;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
  }
    
  .blue-btn {
    background: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
 .listingimage{
  overflow: hidden;
 }

 /* .listingimage:hover img{ */
  /* transform: scale(1.1); */
  /* transition: transform 0.5s ease; */
 /* } */

 .property-card:hover .listingimage img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
 }

 .listingimage img{
  transition: transform 0.3s ease-in-out;
 }

 .button1{
  padding-right: 0%;
  margin-right: 20px;
  padding-top: 0%;
  padding-bottom: 0%;
 }

 .card-title{
  height: 49px; /* Adjust according to your design */
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .welcome-message {
  background: linear-gradient(135deg, #009688, #4caf50); /* Gradient background */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: #fff;
}

.welcome-message p {
  font-size: 28px;
  /* font-weight: bold; */
  font-weight: 400;
  color: #ffffff;
}

.welcome-message span {
  color: #ffeb3b; /* Highlight user's name with a bright color */
}