form label {
    font-weight: 500;
  }
  form input, form textarea {
    border-radius: 8px;
  }
  
  h5 {
    font-weight: 600;
    color: #333;
  }

  @media (max-width: 576px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .update {
    /* background-color: grey; */
    background-image: url('/public/images/estate5.jpg'); /* Place your background image here */
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .update-form-box{
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(8px);
    box-shadow: 10 8px 20px rgba(0,0,0,0.8);
  }

  