.contact{
    position: relative;
    align-items: center;
    justify-content: center;
}

.contact-form-box {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
  
.contact-form-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}